$tomato: hsl(4, 100%, 67%);
$charcoalgrey:hsl(235, 18%, 26%);
$darkslategrey: hsl(234, 29%, 20%);;
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
//gradient 
$gradient-pink: #ff3e83;
$gradient-orange: #fd634a;
$gradient-shadow: #ff3e8355;